In [25]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

Y Features

In [26]:
raw_y = pd.read_csv("raw_y_de.csv")

In [4]:
raw_y.drop('Unnamed: 0', inplace=True,axis=1)

In [5]:
raw_y.head()

,nwspol,polintr,vote,sgnptit,pstplonl,trstplt,trstprt,lrscale,stfgov,stfdem,...,smdfslv,ipeqopt,dfincac,gndr,agea,eduyrs,sbstrec,sbprvpv,sbeqsoc,sblazy
0,3.0,3.0,1.0,2.0,2.0,1.0,1.0,2.0,3.0,2.0,...,2.0,2.0,4.0,1,22.0,12.0,5.0,4.0,4.0,4.0
1,30.0,1.0,1.0,1.0,1.0,7.0,7.0,5.0,8.0,8.0,...,2.0,1.0,2.0,1,58.0,10.0,3.0,2.0,3.0,3.0
2,60.0,1.0,1.0,2.0,2.0,7.0,3.0,5.0,3.0,6.0,...,2.0,2.0,3.0,1,64.0,12.0,3.0,2.0,3.0,3.0
3,15.0,3.0,1.0,2.0,2.0,7.0,7.0,8.0,7.0,7.0,...,2.0,1.0,2.0,1,52.0,10.0,1.0,1.0,1.0,4.0
4,150.0,1.0,1.0,1.0,1.0,1.0,3.0,7.0,3.0,6.0,...,3.0,2.0,2.0,1,67.0,19.0,4.0,1.0,4.0,3.0

In [27]:
raw_y["uempla"]

0       1
1       0
2       0
3       0
4       0
       ..
2847    0
2848    1
2849    1
2850    0
2851    0
Name: uempla, Length: 2852, dtype: int64

X Feature

In [8]:
ess_data = pd.read_csv("ESS_R8_Germany_all.csv")

In [9]:
basinc = ess_data.filter(['basinc'],axis=1)

basinc = basinc[basinc.isin([7,8,9])==False]

basinc.head()

   basinc
0     3.0
1     3.0
2     2.0
3     2.0
4     1.0

In [10]:
basinc.loc[(basinc.basinc == 1),'basinc'] = 0
basinc.loc[(basinc.basinc == 2),'basinc'] = 0
basinc.loc[(basinc.basinc == 3),'basinc'] = 1
basinc.loc[(basinc.basinc == 4),'basinc'] = 1

basinc.head()

   basinc
0     1.0
1     1.0
2     0.0
3     0.0
4     0.0

In [11]:
basinc.describe()

            basinc
count  2765.000000
mean      0.474503
std       0.499440
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

In [12]:
raw_y['basinc'] = basinc

In [13]:
raw_y.head()

,nwspol,polintr,vote,sgnptit,pstplonl,trstplt,trstprt,lrscale,stfgov,stfdem,...,ipeqopt,dfincac,gndr,agea,eduyrs,sbstrec,sbprvpv,sbeqsoc,sblazy,basinc
0,3.0,3.0,1.0,2.0,2.0,1.0,1.0,2.0,3.0,2.0,...,2.0,4.0,1,22.0,12.0,5.0,4.0,4.0,4.0,1.0
1,30.0,1.0,1.0,1.0,1.0,7.0,7.0,5.0,8.0,8.0,...,1.0,2.0,1,58.0,10.0,3.0,2.0,3.0,3.0,1.0
2,60.0,1.0,1.0,2.0,2.0,7.0,3.0,5.0,3.0,6.0,...,2.0,3.0,1,64.0,12.0,3.0,2.0,3.0,3.0,0.0
3,15.0,3.0,1.0,2.0,2.0,7.0,7.0,8.0,7.0,7.0,...,1.0,2.0,1,52.0,10.0,1.0,1.0,1.0,4.0,0.0
4,150.0,1.0,1.0,1.0,1.0,1.0,3.0,7.0,3.0,6.0,...,2.0,2.0,1,67.0,19.0,4.0,1.0,4.0,3.0,0.0

In [20]:
raw_y.isnull().mean()*100

nwspol      0.035063
polintr     0.035063
sgnptit     0.245442
pstplonl    0.070126
trstplt     0.701262
trstprt     1.332398
lrscale     3.050491
stfgov      2.103787
stfdem      0.981767
gincdif     0.841515
gvslvue     1.086957
uempla      0.000000
uempli      0.000000
dsbld       0.000000
rtrd        0.000000
uemp3m      0.385694
uentrjb     1.753156
bennent     4.207574
uemplap     0.000000
uemplip     0.000000
dsbldp      0.000000
rtrdp       0.000000
stfeco      1.227209
emplrel     5.189341
hincsrca    0.806452
lknemny     0.736325
ppltrst     0.140252
pplhlp      0.070126
pplfair     0.175316
stflife     0.210379
happy       0.105189
health      0.105189
rlgblg      0.105189
rlgdgr      0.175316
smdfslv     0.701262
ipeqopt     0.841515
dfincac     0.666199
gndr        0.000000
agea        0.105189
eduyrs      0.105189
sbstrec     2.244039
sbprvpv     1.507714
sbeqsoc     1.472651
sblazy      1.192146
basinc      3.050491
dtype: float64

In [22]:
raw_y.isnull().sum()

nwspol        1
polintr       1
sgnptit       7
pstplonl      2
trstplt      20
trstprt      38
lrscale      87
stfgov       60
stfdem       28
gincdif      24
gvslvue      31
uempla        0
uempli        0
dsbld         0
rtrd          0
uemp3m       11
uentrjb      50
bennent     120
uemplap       0
uemplip       0
dsbldp        0
rtrdp         0
stfeco       35
emplrel     148
hincsrca     23
lknemny      21
ppltrst       4
pplhlp        2
pplfair       5
stflife       6
happy         3
health        3
rlgblg        3
rlgdgr        5
smdfslv      20
ipeqopt      24
dfincac      19
gndr          0
agea          3
eduyrs        3
sbstrec      64
sbprvpv      43
sbeqsoc      42
sblazy       34
basinc       87
dtype: int64

In [24]:
raw_y["bennent"].corr(raw_y.basinc)

0.10902203688097754

LOG REG

CORRELATION ANALYSIS

1 - Politica Knowledge & Support for Basic Income

In [17]:
raw_y.corr().loc[:'nwspol', 'basinc':]

          basinc
nwspol  0.033987

2 - Political Interest & Support for Basic Income

In [28]:
raw_y.corr().loc[:'polintr', 'basinc':]

           basinc
nwspol   0.033987
polintr  0.054072

In [25]:
raw_y.corr().loc[:'vote', 'basinc':]

           basinc
nwspol   0.033987
polintr  0.054072
vote     0.083467

In [29]:
raw_y.corr().loc[:'sgnptit', 'basinc':]

           basinc
nwspol   0.033987
polintr  0.054072
vote     0.083467
sgnptit -0.044457

In [30]:
raw_y.corr().loc[:'pstplonl', 'basinc':]

            basinc
nwspol    0.033987
polintr   0.054072
vote      0.083467
sgnptit  -0.044457
pstplonl -0.077393