In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_survey = pd.read_excel("Survey_results.xlsx")

In [3]:
df_survey.columns

Index(['age', 'gender', 'education_level', 'education_year', 'income',
       'emplrel', 'uemp5', 'occupation', 'income_source', 'household_type',
       'lrscale', 'polintr', 'lsunemp', 'sbprvpv', 'sbeqsoc', 'smdfslv',
       'gincdif', 'sbstrec', 'dfincac', 'bennent', 'sblazy', 'basinc',
       'reason'],
      dtype='object')

In [4]:
df_copy = df_survey.copy()

In [7]:
df_copy["gender"].value_counts()

1         42
0         26
Andere     2
Name: gender, dtype: int64

In [6]:
# Recoding 'gender' column
df_copy['gender'] = df_copy['gender'].replace({'Männlich': 1, 'Weiblich': 0})

In [8]:
df_copy['gender'] = df_copy['gender'].replace({'Andere': 1})

In [16]:
df_copy["education_level"].value_counts()

5    25
6    22
3    13
4    10
Name: education_level, dtype: int64

In [10]:
# Mapping of education levels to numerical values
education_level_mapping = {
    'Bachelor-Abschluss': 5,
    'Master- oder Doktorabschluss': 6,
    'Sekundarschulbildung': 3,
    'Berufliche oder technische Ausbildung': 4,
    'Diplom': 5,
    'Allgemeine Hochschulreife (Abitur)': 3,
    'Abitur': 3
}

# Recoding 'education_level' column
df_copy['education_level'] = df_copy['education_level'].replace(education_level_mapping)

In [12]:
df_copy['education_level'] = df_copy['education_level'].replace({"Abitur":3, "Allgemeine Hochschulreife (Abitur)":3})

In [15]:
# Remove leading and trailing whitespace in 'education_level' column if the value is a string
df_copy['education_level'] = df_copy['education_level'].apply(lambda x: x.strip() if isinstance(x, str) else x)

# Mapping of education levels to numerical values
education_level_mapping = {
    'Abitur': 3,
    'Allgemeine Hochschulreife (Abitur)': 3
}

# Recoding 'education_level' column for the remaining values
df_copy['education_level'] = df_copy['education_level'].replace(education_level_mapping)

In [19]:
df_copy["emplrel"].value_counts()

1    30
3    26
2     6
6     4
5     3
4     1
Name: emplrel, dtype: int64

In [18]:
# Mapping of emplrel values to numerical values
emplrel_mapping = {
    'Student/in': 1,
    'Vollzeitbeschäftigt': 3,
    'Teilzeitbeschäftigt': 2,
    'Im Ruhestand': 5,
    'Arbeitslos und auf Arbeitssuche': 6,
    'Werkstudi': 1,
    'Hausfrau mit Ehrenämtern': 6,
    'Studentin mit Teilzeitbeschäftigung': 1,
    'Selbstständig': 4,
    'Auszubildender': 2
}

# Convert all values in the 'emplrel' column to strings
df_copy['emplrel'] = df_copy['emplrel'].astype(str)

# Recoding 'emplrel' column
df_copy['emplrel'] = df_copy['emplrel'].replace(emplrel_mapping)

In [23]:
df_copy["uemp5"].value_counts()

0    51
1    19
Name: uemp5, dtype: int64

In [22]:
df_copy['uemp5'] = df_copy['uemp5'].replace({'Nein': 0, 'Ja': 1})

In [24]:
df_copy["occupation"].value_counts()

Softwareentwickler                                   3
Studentische Hilfskraft                              3
Student                                              3
Consultant                                           2
Studentin                                            2
Student                                              2
Buchhalter                                           2
IT                                                   2
Werksstudent                                         1
Studentenhilfe auf dem Werk                          1
Arzt                                                 1
Aushilfe                                             1
Bilanzbuchhalter                                     1
Junior Accountant                                    1
VWL Studentin + Recruiterin in Teilzeit              1
Diplom Verwaltungswirt                               1
Buchhalterin                                         1
Wissenschaftlicher Mitarbeiter                       1
Application Manager                                  1
Keiner                                               1
Informatiker                                         1
Tutor an der WWU                                     1
SAP Consultant                                       1
Ärztin                                               1
IT Consultant                                        1
Marketing Spezialist                                 1
Teamleiter Auftragsabwicklung                        1
Fachinformatiker                                     1
Schauspieler                                         1
Working Student- International Account Management    1
Beamter                                              1
Studentische Hilfskraft                              1
Software Entwickler                                  1
Psychologist                                         1
Werkstudent Softwareentwicklung                      1
IT-Consultant                                        1
Marketing Professional                               1
Groß- und Außenhandelskauffrau                       1
Account Manager                                      1
Diakon (Beamter im kirchlichen Dienst)               1
Office Manager                                       1
Sozial Arbeiter                                      1
Lehrer                                               1
Ver - Entsorger                                      1
Informatiker                                         1
Produktmanager                                       1
Nebenjob in der Bäckerei, Babysitten                 1
Werkstudentin                                        1
Senior Project Manager                               1
Bürogehilfin                                         1
Realschullehrerin                                    1
Name: occupation, dtype: int64

In [26]:
#df_copy.drop("occupation", axis=1)

In [29]:
df_copy["income"].value_counts()

1      22
2      14
3      11
4       8
5       5
6       4
8       2
7       2
nan     2
Name: income, dtype: int64

In [28]:
# Mapping of income values to numerical values
income_mapping = {
    'Unter 10.000 €': 1,
    '10.000 € - 19.999 €': 2,
    '20.000 € - 29.999 €': 3,
    '30.000 € - 39.999 €': 4,
    '40.000 € - 49.999 €': 5,
    '70.000 € - 79.999 €': 6,
    '50.000 € - 59.999 €': 7,
    '60.000 € - 69.999 €': 8
}

# Convert all values in the 'income' column to strings
df_copy['income'] = df_copy['income'].astype(str)

# Recoding 'income' column
df_copy['income'] = df_copy['income'].replace(income_mapping)

In [34]:
df_copy["income_source"].value_counts()

1    44
5    12
7    10
3     3
6     1
Name: income_source, dtype: int64

In [33]:
# Mapping of income_source values to numerical values
income_source_mapping = {
    'Gehalt oder Lohn': 1,
    'Sozialleistungen': 5,
    'Renten- oder Altersversorgung': 3,
    'Eltern': 7,
    'Geld von Eltern': 7,
    'Finanzhilfe der eltern': 7,
    'Stipendium': 5,
    'Investitionen': 6,
    'Parents': 7,
    'BAföG': 5,
    'Unterstützung der Eltern': 7,
    'Bafög': 5,
    'Einkommen vom Ehemann': 7,
    'Gehalt des Mannes': 7,
    'Unterstützung durch Familie': 7,
    'Bafög': 5,
    'KAS': 5,
    'Unterstützung von meinen Eltern': 7
}

# Remove leading and trailing whitespace in 'income_source' column if the value is a string
df_copy['income_source'] = df_copy['income_source'].apply(lambda x: x.strip() if isinstance(x, str) else x)

# Recoding 'income_source' column for the remaining values
df_copy['income_source'] = df_copy['income_source'].replace(income_source_mapping)

In [35]:
df_copy.columns

Index(['age', 'gender', 'education_level', 'education_year', 'income',
       'emplrel', 'uemp5', 'occupation', 'income_source', 'household_type',
       'lrscale', 'polintr', 'lsunemp', 'sbprvpv', 'sbeqsoc', 'smdfslv',
       'gincdif', 'sbstrec', 'dfincac', 'bennent', 'sblazy', 'basinc',
       'reason'],
      dtype='object')

In [38]:
df_copy["household_type"].value_counts()

3    21
1    20
2    14
4    11
5     4
Name: household_type, dtype: int64

In [37]:
# Mapping of household_type values to numerical values
household_type_mapping = {
    'Paar ohne Kinder': 3,
    'Einpersonenhaushalt': 1,
    'Wohngemeinschaft mit nicht verwandten Personen': 2,
    'Paar mit Kindern': 4,
    'Mehrgenerationenhaushalt': 5
}

# Remove leading and trailing whitespace in 'household_type' column if the value is a string
df_copy['household_type'] = df_copy['household_type'].apply(lambda x: x.strip() if isinstance(x, str) else x)

# Recoding 'household_type' column
df_copy['household_type'] = df_copy['household_type'].replace(household_type_mapping)

In [42]:
df_copy["lrscale"].value_counts()

0    50
5    11
1     9
Name: lrscale, dtype: int64

In [41]:
# Recoding 'lrscale' column
df_copy['lrscale'] = df_copy['lrscale'].apply(lambda x: 0 if 0 <= x <= 4 else (1 if 6 <= x <= 10 else x))

In [43]:
df_copy["polintr"].value_counts()

2: Ziemlich interessiert    33
1: Sehr interessiert        21
3: Wenig interessiert       15
Name: polintr, dtype: int64

In [44]:
# Mapping of polintr values to numerical values
polintr_mapping = {
    '2: Ziemlich interessiert': 1,
    '1: Sehr interessiert': 1,
    '3: Wenig interessiert': 0
}

# Remove leading and trailing whitespace in 'polintr' column if the value is a string
df_copy['polintr'] = df_copy['polintr'].apply(lambda x: x.strip() if isinstance(x, str) else x)

# Recoding 'polintr' column
df_copy['polintr'] = df_copy['polintr'].replace(polintr_mapping)

In [64]:
df_copy["polintr"].value_counts()

1.0    54
0.0    15
Name: polintr, dtype: int64

In [47]:
df_copy["lsunemp"].value_counts()

1.0    47
3.0    12
0.0    10
Name: lsunemp, dtype: int64

In [46]:
# Mapping of lsunemp values to numerical values
values_mapping = {
    '2: Stimme eher zu': 1,
    '1: Stimme voll und ganz zu': 1,
    '3: Weder Zustimmung noch Ablehnung': 3,
    '4: Stimme eher nicht zu': 0,
    '5: Stimme überhaupt nicht zu': 0
}

# Remove leading and trailing whitespace in 'lsunemp' column if the value is a string
df_copy['lsunemp'] = df_copy['lsunemp'].apply(lambda x: x.strip() if isinstance(x, str) else x)

# Recoding 'lsunemp' column
df_copy['lsunemp'] = df_copy['lsunemp'].replace(values_mapping)

In [48]:
df_copy['sbprvpv'] = df_copy['sbprvpv'].apply(lambda x: x.strip() if isinstance(x, str) else x)


df_copy['sbprvpv'] = df_copy['sbprvpv'].replace(values_mapping)

In [49]:
df_copy['sbeqsoc'] = df_copy['sbeqsoc'].apply(lambda x: x.strip() if isinstance(x, str) else x)


df_copy['sbeqsoc'] = df_copy['sbeqsoc'].replace(values_mapping)

In [50]:
df_copy['smdfslv'] = df_copy['smdfslv'].apply(lambda x: x.strip() if isinstance(x, str) else x)


df_copy['smdfslv'] = df_copy['smdfslv'].replace(values_mapping)

df_copy['smdfslv'].value_counts()

1.0    43
0.0    17
3.0     9
Name: smdfslv, dtype: int64

In [51]:
df_copy['gincdif'] = df_copy['gincdif'].apply(lambda x: x.strip() if isinstance(x, str) else x)


df_copy['gincdif'] = df_copy['gincdif'].replace(values_mapping)

df_copy['gincdif'].value_counts()

1    45
3    14
0    11
Name: gincdif, dtype: int64

In [52]:
df_copy['sbstrec'] = df_copy['sbstrec'].apply(lambda x: x.strip() if isinstance(x, str) else x)


df_copy['sbstrec'] = df_copy['sbstrec'].replace(values_mapping)

df_copy['sbstrec'].value_counts()

0.0    40
3.0    17
1.0    12
Name: sbstrec, dtype: int64

In [53]:
df_copy['dfincac'] = df_copy['dfincac'].apply(lambda x: x.strip() if isinstance(x, str) else x)

df_copy['dfincac'] = df_copy['dfincac'].replace(values_mapping)

df_copy['dfincac'].value_counts()

1    33
0    26
3    11
Name: dfincac, dtype: int64

In [54]:
df_copy['bennent'] = df_copy['bennent'].apply(lambda x: x.strip() if isinstance(x, str) else x)

df_copy['bennent'] = df_copy['bennent'].replace(values_mapping)

df_copy['bennent'].value_counts()

0    25
1    23
3    22
Name: bennent, dtype: int64

In [55]:
df_copy['sblazy'] = df_copy['sblazy'].apply(lambda x: x.strip() if isinstance(x, str) else x)

df_copy['sblazy'] = df_copy['sblazy'].replace(values_mapping)

df_copy['sblazy'].value_counts()

0    42
1    15
3    13
Name: sblazy, dtype: int64

In [56]:
df_copy["basinc"].value_counts()

3: Dafür            30
2: Dagegen          21
4: Stark Dafür      15
1: Stark dagegen     4
Name: basinc, dtype: int64

In [58]:
df_copy['basinc'] = df_copy['basinc'].apply(lambda x: x.strip() if isinstance(x, str) else x)

df_copy['basinc'] = df_copy['basinc'].replace({'3: Dafür': 1, '2: Dagegen': 0, '4: Stark Dafür': 1, '1: Stark dagegen     4':0})

df_copy['basinc'].value_counts()

1                   45
0                   21
1: Stark dagegen     4
Name: basinc, dtype: int64

In [59]:
df_copy['basinc'] = df_copy['basinc'].replace({ '1: Stark dagegen':0})

In [60]:
df_copy['basinc'].value_counts()

1    45
0    25
Name: basinc, dtype: int64

In [61]:
df_copy['reason'].value_counts()

Ungleichheit                                                                                                                                                                                                                                                                                                                                                                                                     25
soziale Wohlfahrt                                                                                                                                                                                                                                                                                                                                                                                                 9
Erfüllung der eigenen Bedürfnisse                                                                                                                                                                                                                                                                                                                                                                                 7
Armut                                                                                                                                                                                                                                                                                                                                                                                                             6
Eigenes Einkommen                                                                                                                                                                                                                                                                                                                                                                                                 6
Arbeitslosigkeit                                                                                                                                                                                                                                                                                                                                                                                                  3
Steuererhöhung                                                                                                                                                                                                                                                                                                                                                                                                    3
Ein Grundeinkommen ist völlig unrealistisch. Es macht meiner Meinung nach keinen Sinn, jeder Person gleichviel Geld zu geben. Es geht er darum, wie wir vulnerable Gruppen besser und zielgerichteter unterstützen können, administrative Vorgänge vereinfachen und digitalisiere können. Aus fiskalischer Sicht ist ein Grundeinkommen nicht umsetzbar, man muss das vorhandene Geld effizienter einsetzen.      1
sozialer, und dadurch wirtschaftlicher Fortschritt                                                                                                                                                                                                                                                                                                                                                                1
Finanzierbarkeit                                                                                                                                                                                                                                                                                                                                                                                                  1
Gießkannenprinzip, zu teuer und zu pauschalisierend                                                                                                                                                                                                                                                                                                                                                               1
Die Frage, ob die Refinanzierung des BGE durch Steuern dazu führt, dass zusätzliche Einnahmen prozentual so stark besteuert werden, dass ein relevanter Anteil der BGE-Beziehenden es für unverhältnismäßig hält zu Arbeiten                                                                                                                                                                                      1
Demokratie                                                                                                                                                                                                                                                                                                                                                                                                        1
Finanzielle Grundabsicherung                                                                                                                                                                                                                                                                                                                                                                                      1
Steuererhöhungen für den Mittelstand und nicht proportional für die extrem Reichen                                                                                                                                                                                                                                                                                                                                1
So werden auch die Ehrenamtlichen gewertschätzt                                                                                                                                                                                                                                                                                                                                                                   1
Unternehmen würden Preise erhöhen                                                                                                                                                                                                                                                                                                                                                                                 1
Name: reason, dtype: int64

Occupation column is excluded from the results. 
Reason column is not cleaned. 
The values and opinions values include the neutral statement which should be weighted distributed.

In [62]:
df_copy.head()

,age,gender,education_level,education_year,income,emplrel,uemp5,occupation,income_source,household_type,...,sbprvpv,sbeqsoc,smdfslv,gincdif,sbstrec,dfincac,bennent,sblazy,basinc,reason
0,32.0,0,6,6,3,3,1,Office Manager,1,2,...,1.0,1,0.0,0,3.0,1,1,0,0,Steuererhöhung
1,25.0,0,6,19,6,3,0,Ärztin,1,3,...,0.0,3,0.0,3,3.0,1,1,1,0,Steuererhöhung
2,23.0,0,6,18,2,1,0,Werkstudentin,1,2,...,3.0,1,1.0,1,1.0,1,1,0,0,Steuererhöhung
3,22.0,1,5,16,2,1,0,Student,5,1,...,1.0,1,0.0,1,0.0,1,3,0,0,NaN
4,23.0,0,5,17,1,1,0,NaN,5,1,...,3.0,1,1.0,1,0.0,0,3,0,1,Ungleichheit

In [63]:
df_copy.columns

Index(['age', 'gender', 'education_level', 'education_year', 'income',
       'emplrel', 'uemp5', 'occupation', 'income_source', 'household_type',
       'lrscale', 'polintr', 'lsunemp', 'sbprvpv', 'sbeqsoc', 'smdfslv',
       'gincdif', 'sbstrec', 'dfincac', 'bennent', 'sblazy', 'basinc',
       'reason'],
      dtype='object')

In [66]:
import numpy as np

# Custom function to replace 3 with either 0 or 1 based on the percentage of occurrence
def weighted_replace(column):
    counts = column.value_counts(normalize=True)
    prob_0 = counts.get(0, 0)
    prob_1 = counts.get(1, 0)
    total_prob = prob_0 + prob_1

    column = column.apply(lambda x: np.random.choice([0, 1], p=[prob_0/total_prob, prob_1/total_prob]) if x == 3 else x)
    return column



columns_to_update = ['lsunemp', 'sbprvpv', 'sbeqsoc', 'smdfslv', 'gincdif', 'sbstrec', 'dfincac', 'bennent', 'sblazy']

for column_name in columns_to_update:
    df_copy[column_name] = weighted_replace(df_copy[column_name])

In [71]:
df_copy['gincdif'].value_counts()

1    57
0    13
Name: gincdif, dtype: int64

In [72]:
df_copy = df_copy.drop(["occupation", "reason"], axis = 1)

In [73]:
df_copy.columns

Index(['age', 'gender', 'education_level', 'education_year', 'income',
       'emplrel', 'uemp5', 'income_source', 'household_type', 'lrscale',
       'polintr', 'lsunemp', 'sbprvpv', 'sbeqsoc', 'smdfslv', 'gincdif',
       'sbstrec', 'dfincac', 'bennent', 'sblazy', 'basinc'],
      dtype='object')

In [76]:
missing_values_count = df_copy.isna().sum().sum()

print(f"Total missing values in the DataFrame: {missing_values_count}")

Total missing values in the DataFrame: 0

In [75]:
for column_name in df_copy.columns:
    mode_value = df_copy[column_name].mode().iloc[0]
    df_copy[column_name].fillna(mode_value, inplace=True)

In [ ]:
df_copy.to_csv("")